main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.borde-form{
    clip-path: polygon(0 7%, 100% 0, 91% 100%, 10% 100%);
    background-color: #024caa;
    height: 420px;
    width: 420px;
    padding: 10px;
}

form{
    clip-path: polygon(0 7%, 100% 0, 91% 100%, 10% 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    padding: 10px;
    background-color: #00275a;
    transition: .3s;
}

form input{
    margin-top: 20px;
    border: solid 3px #024caa;
    padding: 10px;
    font-size: 22px;
    width: 80%;
    height: 5%;
}

.boton-enviar{
    cursor: pointer;
    font-size: 25px;
    width: 200px;
    height: 50px;
    background-color: #024caa;
    border: 3px  solid;
    color: whitesmoke;
}